<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Bank API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

  <div class="login">

    <img src="{{url_for('static', filename="pret_logo.png")}}">
    <br>
    <h1>Home Credit Default Risk</h1>
    <br>
    <form method="POST" action="{{ url_for('predict') }}">
      <label for="seclect_customer">--Please choose a customer ID :--</label>
      <select name="customer_select" id="select_customer" required="required" value="{{ request.form['customer_select'] }}">
        <option value="">"customer_id"</option>
        {% for customer in customers %}
        <option value="{{ customer }}">{{ customer }}</option>
        {% endfor %}
      </select>
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>


<!-- Main Input For Receiving Query to our ML -->

  {{prediction_text}}{{client_id}}
   



 </div>


</body>
</html>